In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("houseprice.csv")

In [4]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.844500e+04,1.844500e+04,18445.000000,18445.000000,18445.000000,1.844500e+04,18445.000000,18445.000000,18445.000000,18445.000000,18445.000000,18445.000000,18445.000000,18445.000000,18444.000000,18444.000000,18444.000000,18444.000000,18444.000000,18444.000000
mean,4.570599e+09,5.335089e+05,3.362483,2.062226,2051.734237,1.577082e+04,1.433234,0.007861,0.242776,3.448414,7.592139,1749.634860,302.099377,1967.157766,90.894491,98078.084147,47.560295,-122.215244,1972.666341,13295.310724
std,2.860653e+09,3.650331e+05,0.934485,0.759867,903.613358,4.238199e+04,0.509853,0.088317,0.778592,0.666538,1.170849,806.420388,449.275623,30.844596,416.129969,54.085815,0.139689,0.139155,673.187799,27396.978945
min,1.000102e+06,7.500000e+04,0.000000,0.000000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,0.000000,200.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,660.000000
25%,2.124069e+09,3.150000e+05,3.000000,1.500000,1410.000000,5.444000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1180.000000,0.000000,1949.000000,0.000000,98033.000000,47.465800,-122.327000,1490.000000,5407.750000
50%,3.914000e+09,4.474500e+05,3.000000,2.000000,1890.000000,7.902000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1530.000000,0.000000,1969.000000,0.000000,98065.000000,47.573200,-122.231000,1830.000000,7810.000000
75%,7.287700e+09,6.360000e+05,4.000000,2.500000,2500.000000,1.109800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2130.000000,600.000000,1990.000000,0.000000,98118.000000,47.679200,-122.127000,2330.000000,10324.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6110.000000,871200.000000

In [5]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0.0,98178.0,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991.0,98125.0,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0.0,98028.0,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0.0,98136.0,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0.0,98074.0,47.6168,-122.045,1800.0,7503.0

In [6]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [8]:
df=df.dropna()

In [10]:
df=df.drop(['id','date'],axis=1)

In [14]:
x=df[['bedrooms', 'bathrooms', 'sqft_living',
      'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
      'lat', 'long', 'sqft_living15', 'sqft_lot15']]
y=df['price']

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(12910, 18)
(5534, 18)
(12910,)
(5534,)

In [17]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
y_pred=regressor.predict(x_test)

In [19]:
df=pd.DataFrame({'Actual':y_test,'Pred':y_pred})
df

          Actual          Pred
2200   1680000.0  1.449389e+06
13280  1999000.0  1.417437e+06
13135   555000.0  6.298423e+05
14194   822000.0  6.260607e+05
3641    777000.0  6.458455e+05
888     374000.0  4.082458e+05
13201   419000.0  6.319078e+05
8746    280000.0  4.069886e+05
7330   1245000.0  7.863987e+05
7337    599950.0  5.968375e+05
10686   410000.0  3.704680e+05
1651    255000.0  3.252125e+05
11457   390000.0  3.614774e+05
13548  1475000.0  9.110386e+05
10133   219000.0  3.778063e+05
13048   870000.0  7.462691e+05
10296   166000.0  1.495927e+05
6976    415000.0  4.844437e+05
10554   660000.0  7.108224e+05
4172    273000.0  2.496366e+05
3203    528000.0  7.010005e+05
5339    350000.0  3.812675e+05
8013    230000.0  3.173708e+05
1921    740000.0  1.492278e+06
8184    459500.0  2.812248e+05
13169   435000.0  5.110613e+05
4109    198500.0  1.734732e+05
13458   780000.0  7.778443e+05
9573   1780000.0  1.059875e+06
14487   325000.0  4.406582e+05
...          ...           ...
12309   270000.0  3.699592e+05
5003    699000.0  8.197325e+05
1095    435000.0  3.487992e+05
8867    310000.0  1.940787e+05
2206    250000.0  3.379343e+05
8282    245000.0  1.824105e+05
7921    635000.0  6.735719e+05
3667    397000.0  3.631581e+05
1440   1355000.0  1.212556e+06
14155   538250.0  6.621715e+05
10435   170500.0  2.259647e+05
17890   440000.0  5.905562e+05
11983   319950.0  3.812805e+05
1856    339000.0  1.840073e+05
6954    588000.0  6.418163e+05
805     500000.0  4.382830e+05
13975   420000.0  2.938774e+05
11509   156000.0  4.240758e+04
17908   400000.0  3.846402e+05
16002   450000.0  5.437543e+05
350     299000.0 -4.316799e+04
2704    662700.0  6.546529e+05
16340   100000.0  3.310654e+03
16174   425000.0  6.410547e+05
6785    585000.0  6.522305e+05
2788    545000.0  5.908001e+05
9689    280000.0  3.535376e+05
11328   445000.0  4.510715e+05
17663   559950.0  5.222559e+05
17453   630000.0  6.086922e+05

[5534 rows x 2 columns]

In [24]:
regressor.score(x_test,y_test)

0.6837411686890432